
@model List<Brand>
<div class="container">
	<div class="row mb-4">
		<div class="col-md-6 text-uppercase">
			<h2>Brand List</h2>
		</div>
		<div class="col-md-6 text-end">
			<a asp-controller="Brand" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create</a>
		</div>
	</div>
	<hr />
	@if(Model.Count()>0){

	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Established Year </td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>

					<td>@item.Name</td>
					<td>@item.EstablishedYear</td>
					<td class="d-flex align-items-center justify-content-center">
						<div class="w-75 btn-group" role="group">
							<a asp-controller="Brand" asp-action="Details" asp-route-Id="@item.Id"
							class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Details">info</a>

							<a asp-controller="Brand" asp-action="Edit" asp-route-Id="@item.Id"
							class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit">Edit</a>

								<a asp-controller="Brand" asp-action="Delete" asp-route-Id="@item.Id"
								   class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">Delete</a>

						</div>
					</td>
			
				
			</tr>
			}
		</tbody>
</table>
	}
	else{
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center text-uppercase text-warning pt-4">No Records to Show</h2>
				</div>
			</div>
		</div>
	}
</div>

@section Scripts{
	<script>
		$('.table').DataTable();
	</script>
}							